# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
.venv/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Database
*.db

# OS
.DS_Store
